name: Main

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Racket environment
        uses: Bogdanp/setup-racket@v1.8.1
      - run: make install
      - run: make lint
      - run: make test
